<header class="top-page-header">
  <%= render "shared/header" %>
</header>
<body>
  <h2>投稿する</h2>
  <%= form_with url: "/prices", scope: :price, method: :post, local: true do |f| %>
  <%# https://endoakak.hatenablog.com/entry/2020/08/29/200000 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"price-image" %>
      </div>
    </div>
    <%= f.text_area :text, placeholder: "コメントする", rows: "3" %>
    <%= f.submit "投稿" %>
  <% end %>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong><br>
          <%= comment.text %>
        </p>
        <%= image_tag comment.image.variant(resize: '100x100'), class: 'price-image' if comment.image.attached? %>
      <% end %>
  </div>
</body>
