<header class="top-page-header">
  <p>Gasoline Price Search Application</p>
  <h1 class="title">
    <%= link_to 'GPSA', root_path, method: :GET %>
  </h1>
  <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, user_path(current_user.id), class: "user-nickname" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to "ログイン", new_user_session_path, class: "sign-in" %></li>
      <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
    <% end %>
  </ul>
</header>
<body>
  <h2>投稿する</h2>
  <%= form_with url: "/prices", method: :post, local: true do |f| %>
    <div class="img-upload">
      <div class="weight-bold-text">
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"price-image" %>
      </div>
    </div>
    <%= f.text_area :text, placeholder: "コメントする", rows: "3" %>
    <%= f.submit "投稿" %>
  <% end %>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong><br>
          <%= comment.text %>
        </p>
        <%= image_tag comment.image.variant(resize: '100x100'), class: 'price-image' if comment.image.attached? %>
      <% end %>
  </div>
</body>
