<!DOCTYPE html>
<html>
  <head>
    <title>GasolinePriceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
      const swiper = new Swiper('.swiper', {
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        spaceBetween: 30,
        effect: "fade",
        speed: 2000,
        loop: true,
	      autoplay: {
		      delay: 3000
	      },
      });
    </script>
  </body>
</html>
